.top-nav{
    background-color: #ffffff;
    height: 4rem;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 1rem;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
}
.top-nav-button{
    padding: .5rem 1rem;
    margin: 0 1rem;
    
}
.top-nav-leftcomp{
    display: flex;
}
.top-nav-leftcomp>*{
    margin: 0 .5rem;
}

.top-nav-propic{
    width: 2rem;
}
.top-nav-search{
    background: #F2F2F5;
    padding:.5rem;
    border: none;
    box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.32);

    margin-bottom: 1rem;    
    border-radius: 32px;
}
/*

background: #F2F2F5;
border: 2px solid red;
box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.32);
box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
border-radius: 24px;

*/