*{
    margin: 0;
    padding: 0;
    
}
:root {
    --light: #8F90A6;
    --dark: #555770;
    --bg: #F2F2F5;
    --base: #78C6DF;
  }
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    box-sizing: border-box;

}
.app{
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.col{
    flex-basis: 0;
    flex-grow: 1;
}
.main-con{
    margin: 0 auto;
    width: 90%;

}
#post{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;

}

button{
    
    background-color: var(--base); /* Green */
    border: none;
    color: white;
    padding: .5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}