*{
    margin: 0;
    padding: 0;
    
}
:root {
    --light: #8F90A6;
    --dark: #555770;
    --bg: #F2F2F5;
  }
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    box-sizing: border-box;

}
.app{
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.col{
    flex-basis: 0;
    flex-grow: 1;
}
.main-con{
    margin: 0 auto;
    width: 90%;
}